<div id="container">
  <h2>List of Heroes</h2>
  <table>
    <thead>
      <th>Name</th>
      <th>Power</th>
      <th>Universe</th>
      <th>Created at</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let hero of listHeroes">
        <td>{{hero.name}}</td>
        <td>
          <span>{{getPower(hero.powerList)}} </span>
        </td>
        <td>{{hero.universe.description}}</td>
        <td>{{formatTime(hero.createdAt)}}</td>
        <td><img src="../assets/resources/images/x-button.png" id="delete_hero_{{hero.id}}" (click)="deleteHero(hero)" class="delete_hero" height="14px"/></td>
      </tr>

    </tbody>



  </table>
</div>