<h2>Insert a new hero</h2>

<label for="name" id="label_name">Hero name</label>
<input type="text" [(ngModel)]="newHero.name" placeholder="Name" id="nameHero" name="fieldName"  ngDefaultControl/>

<label for="power" id="label_name">Super-power</label>



<input list="powers" name="powers" [(ngModel)]="selectedPower" (change)="onSelectedPower(selectedPower)">

<datalist id="powers" >
  <option *ngFor="let power of powers" value="{{power.description}}" >
</datalist>
{{teste}}
<div *ngFor="let universe of universes">
  <img src ="" width="50px" height="50px" (click)="onSelectedUniversed(universe)">
</div>

<p *ngFor="let x of newHeroPowers">{{x}}</p>

<input type="button" value="Submit" (click)="submit()"/>