#container {
    background-color: aquamarine;
    position: absolute;
    top:100px;
    left: 0px;
    background-color: #ecf2f7;
    margin:0px;
    width: 100%;
}

#logo {
    width: 70px;
    height: 70px;
    padding-left: 25px;
}

#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #012340;
    width: 100px;
    margin:0px;
    width: 100%;
}

#menu_elements{
    display: flex;
    align-items: center;
}

.menu_action{
    display: inline;
    color: white;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding-right: 10px;
    cursor: pointer;
}

.menu_action#right {
    border-left: solid 1px white;
    padding-left: 10px;
}

h2 {
    text-align: center;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

input[type="text"], input{
    border: none;
    font-size: 16px;
    
    height: 20px;
    width: 200px;
}

label {
    font-size: 16px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: bold;
}

#submit {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 100px;
    cursor: pointer;
}

.univeseIMG {
    height: 100px;
}